
forge/client
forge/common
forge/fml
forge/patches
forge/*.sh

forge/mcp/bin
forge/mcp/conf
forge/mcp/docs
forge/mcp/eclipse
forge/mcp/jars
forge/mcp/lib
forge/mcp/logs
forge/mcp/reobf
forge/mcp/runtime
forge/mcp/temp
forge/mcp/CHANGELOG
forge/mcp/*.sh

forge/mcp/src/minecraft/cpw
forge/mcp/src/minecraft/ibxm
forge/mcp/src/minecraft/net
forge/mcp/src/minecraft/paulscode
forge/mcp/src/minecraft/*.sh

*.py
*.pyc
*.properties
*.cmd
*.bat
*.txt
*.cfg

forge_logo.png
mcp.png
mcpmod.info
Start.java
